* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #504f4d;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.body-container {
  height: 100%;
}

.container-result {
  padding-bottom: 35px;

  @media (max-width: 600px) {
    padding-top: 25px;
  }
}

.row-col-white {
  .col-3 {
    background-color: #ffffff;
  }
  .col-9 {
    background-color: #ffffff;
  }
}

.col-border-top {
  border-top: 1px solid #2e2e2e;
}
.col-border-right {
  border-right: 1px solid #2e2e2e;
}
.col-border-bottom {
  border-bottom: 1px solid #2e2e2e;
}
.col-border-left {
  border-left: 1px solid #2e2e2e;
}

.col-radius-lt {
  border-radius: 30px 0px 0px 0px;
}
.col-radius-tr {
  border-radius: 0px 30px 0px 0px;
}
.col-radius-rb {
  border-radius: 0px 0px 30px 0px;
}
.col-radius-bl {
  border-radius: 0px 0px 0px 30px;
}

.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #e5cec0;
  background-image: linear-gradient(to bottom, rgba(217, 186, 166, 1), rgba(250, 242, 238, 1));
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.PNG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    line-height: 1;
    letter-spacing: 7px;
  }
  .h1 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-size: 18px;
    letter-spacing: 2px;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
  transition: all 300ms;
  &:hover {
    transform: scale(1.1);
  }
}
.card-pythagoras-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  letter-spacing: 2px;
  .card-pythagoras-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-calc {
  display: flex;
  margin-bottom: 2em;
  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  border: #ffffff;
  outline: none;
  font-size: 22px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  appearance: none;
  width: 100%;
  color: #31322f;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }
}

.form-calc-submit {
  padding: 1em;
  border: #e6f0db;
  font-size: 18px;
  background-color: #e6f0db;
  outline: none;
  color: #31322f;
  transition: all 300ms;
  border: 1px solid #31322f;
  &:hover {
    background-color: #c7d1bc;
  }

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 18px;
  margin: 0;
  color: #31322f;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}
.data {
  margin: 0 10px;
  width: 600px;
}

.gb-color-1 {
  background-color: #e6f0db !important;
}
